extends layout.pug

block content

    nav.nav
        a(href='/')
            span &larr;
            |  Back
    
    article.portfolio-about
        .inner-wrapper.flex-row-wrap
            .about-intro-box.box
                h1 #{err.status}: #{err.message}
                pre= err.stack
